

.btn-jornada:hover{
    transform: scale(1.05);
    
}

span.badge:hover{
    background: linear-gradient(90deg, #19875498, #ffc10796);
    border:1px solid #198754;
    transform: scale(1.05);
}

.card img, 
.card video {
  transition: transform 0.3s ease;
  height: 250px; /* altura fixa */
  object-fit: cover;
}

.card:hover img,
.card:hover video {
  transform: scale(1.1);
}

.card .overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(to top, rgba(0,0,0,0.7), transparent);
  transition: opacity 0.3s ease;
}

.card:hover .overlay {
  opacity: 0.9;
}

footer .container, footer a{
  color:  #66BB6A;
}

.social-link{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color:#66BB6A;
  color: #0d5c3a;
  font-size: 18px;
  transition: all 0.3s ease;
  text-decoration: none;
  
}

.social-link:hover{
  background-color: #0d5c3a;
  color: #66BB6A ;
  
}